@model BookModel

<div class="container">
    <h3 class="display-4">Add new Book</h3>

    @if (ViewBag.isSuccess)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Congratulations!</strong> Your Book has been added
            <p>Click <a asp-controller="Book" asp-action="GetBook" asp-route-id="@ViewBag.bookId">here</a> to view the details</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }


<div class="d-flex justify-content-center">
    <div class="spinner-border" id="myLoader" style="display: none" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<form method="post" enctype="multipart/form-data" data-ajax="true" data-ajax-complete="myComplete" data-ajax-success="mySuccess"
      data-ajax-failure="myFailure" data-ajax-loading="#myLoader" asp-action="AddNewBook" asp-controller="Book">

    <div class="form-group">
        <label asp-for="LanguageId"></label>
        <select asp-for="LanguageId" class="form-control" asp-items="ViewBag.Languages">
            <option value="">Please choose Book Language</option>
        </select>
        <span asp-validation-for="LanguageId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Author"></label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TotalPages"></label>
        <input asp-for="TotalPages" class="form-control" />
        <span asp-validation-for="TotalPages" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CoverPhoto"></label>
        <div class="custom-file">
            <input asp-for="CoverPhoto" class="custom-file-input" id="customFile">
            <label class="custom-file-label" asp-for="CoverPhoto">Choose file</label>
        </div>
        <span asp-validation-for="CoverPhoto" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="GalleryPhotos"></label>
        <div class="custom-file">
            <input asp-for="GalleryPhotos" class="custom-file-input" id="customFile">
            <label class="custom-file-label" asp-for="GalleryPhotos">Choose files</label>
        </div>
        <span asp-validation-for="GalleryPhotos" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BookPdf"></label>
        <div class="custom-file">
            <input asp-for="BookPdf" class="custom-file-input" id="customFile">
            <label class="custom-file-label" asp-for="BookPdf">Choose file</label>
        </div>
        <span asp-validation-for="BookPdf" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Add Book" />
    </div>
</form>
</div>


@section scripts {
    <script>
        function myComplete(data) {
            //alert('I am from Complete');
        }
        function mySuccess(data) {
           // alert('I am from Success');
        }
        function myFailure(data) {
            //alert('I am from Failure');
        }
    </script>
}


