@model BookModel

<form method="post">
    <label asp-for="Title"></label>
    <input asp-for="Title" />

    <label asp-for="Description"></label>
    <input asp-for="Description" />

    <label asp-for="Author"></label>
    <input asp-for="Author" />
</form>

