
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bookstore.css" rel="stylesheet">
    <title>Index</title>
</head>
<body class="container">

    <img class="logo" src="~/images/logo.png" alt="logo" />
    <button class="btn btn-danger">Click Me!</button>
    <h1 class="h1"> Welcome to Book Store Application </h1>
  
    <p> This is the home page of our Book Store application </p>
</body>
    
    
</html>

<script>
    $(document).ready(function () {
        alert("Page Loaded");
    })
</script>


